<!doctype html>
<html lang="en" ng-app="angularGallery">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image Gallery</title>
    <% include ../partials/head.ejs %>
    <link rel="stylesheet" href="/css/bootstrap-table.css">
    <% include ../partials/javascripts.ejs %>
    <script src="/js/bootstrap-table.js"></script>
    <script src="/js/bootstrap-table-es-CL.js"></script>
    <script src="/js/moment.js"></script>

</head>
<body>
    <% include ../partials/navUser.ejs %>
    <% if ( expressFlash ) {

        if( expressFlash.flashError ) {
            alert_class = 'alert-danger';
            alert_strong = 'Alerta!'
            alert_msg = expressFlash.flashError
        }else if ( expressFlash.flashSuccess ) {
            alert_class = 'alert-success';
            alert_strong = 'Éxito!'
            alert_msg = expressFlash.flashError
        }else {
            alert_class = 'alert-info';
            alert_strong = 'Información!'
            alert_msg = expressFlash.flashInfo
        }

    %>
        <div class="container-sm">
            <div class="alert <%= alert_class%> alert-dismissible fade show" role="alert">
                <strong><%= alert_strong%></strong> <%= alert_msg %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

    <% } %>

    <% if ( locals.sessionFlash) {
        if( sessionFlash.type == 'error' ) {
            alert_class = 'alert-danger';
            alert_strong = 'Alerta!'
        }else if ( sessionFlash.type == 'success' ) {
            alert_class = 'alert-success';
            alert_strong = 'Éxito!'
        }else {
            alert_class = 'alert-info';
            alert_strong = 'Información!'
        }
        %>
            <div class="container-sm">
                <div class="alert <%= alert_class%> alert-dismissible fade show" role="alert">
                    <strong><%= alert_strong%></strong> <%= sessionFlash.message %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

    <% } %>
    <div class="alert alert-dismissible fade" id="ajax-msg" role="alert">
        <span>{{ msgText }}</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <main>
        <%- content %>
    </main>
    <% include ../partials/footer.ejs %>
    <script src="/controllers/userGalleryCtrl.js"></script>
</body>
</html>